{% extends 'layout.html' %} {% block body %}

<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <div class="container-fluid pt-3">
        <div class="card shadow">
          <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Company Info</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6"></div>
            </div>
            <div
              id="dataTable"
              class="table-responsive table mt-2"
              role="grid"
              aria-describedby="dataTable_info"
            >
              <table id="dataTable" class="table my-0">
                <thead>
                  <tr>
                    <th>Company Name</th>
                    <th></th>
                    <th>Status</th>
                    <th>Country</th>
                    <th>Revenue (Annual)</th>
                    <th>Phone Number</th>
                  </tr>
                </thead>
                <tbody>
                  {% for company in companies %}
                  <tr>
                    <td class="ifEmpty">{{company.name}}</td>
                    <td ><i class="statusBall fa-solid fa-circle"></i></td>
                    <td class="status">{{company.status}}</td>
                    <td class="ifEmpty">{{company.country}}</td>
                    <td class="ifEmptyNum round-num">{{company.value}}</td>

                    <td class="ifEmpty">{{company.phone}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>Company name</th>
					<th></th>
                    <th>Status</th>
                    <th>Country</th>
                    <th>Revenue (Annual)</th>
                    <th>Phone Number</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
</div>

{% endblock %}
