{% extends 'layout.html' %} {% block body %}

<div id="wrapper">
  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <div class="container-fluid pt-3">
        <div class="card shadow">
          <div class="card-header py-3 text-center w-100">
            <h4 class=" m-0 fw-bold">Customers List</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6"></div>
            </div>
            <div
              id="dataTable"
              class="table-responsive table mt-2"
              role="grid"
              aria-describedby="dataTable_info"
            >
              <table id="dataTable" class="table my-0">
                <thead>
                  <tr>
                    <th>Company Name</th>
                    <th></th>
                    <th>Status</th>
                    <th>Country</th>
                    <th>Revenue (Annual)</th>
                    <th>Phone Number</th>
                  </tr>
                </thead>
                <tbody>
                  {% for company in companies %}
                  <tr>
                    <td class="ifEmpty">{{company.name}}</td>
                    <td><i class="statusBall fa-solid fa-circle"></i></td>
                    <td class="status">{{company.status}}</td>
                    <td class="ifEmpty">{{company.country}}</td>
                    <td class="ifEmptyNum round-num">{{company.value}}</td>

                    <td class="ifEmpty">{{company.phone}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>Company name</th>
                    <th></th>
                    <th>Status</th>
                    <th>Country</th>
                    <th>Revenue (Annual)</th>
                    <th>Phone Number</th>
                  </tr>
                </tfoot>
              </table>
              <ul class="pagination justify-content-center">
                {% if prev_offset is not none %}
                <li class="page-item p-1"><a class="page-link" aria-label="Previous" href="{{ url_for('customers', offset=prev_offset) }}"><span aria-hidden="true">«</span></a></li>
                {% endif %}
                
                {% if next_offset is not none %}
                <li class="page-item p-1"><a class="page-link" aria-label="Next" href="{{ url_for('customers', offset=next_offset) }} "><span aria-hidden="true">»</span></a></li>
                {% endif %}
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <br />
</div>

{% endblock %}
