{% extends 'layout.html' %}

{% block body %}
<div class="pt-3">
	<div class="row">
		<div class="col-md-6 col-xl-3 mb-4">
			<div class="card shadow-sm border-start-success py-2">
				<div class="card-body">
					<div class="row align-items-center no-gutters">
						<div class="col me-2">
							<div class="text-uppercase text-success font-weight-bold text-xs mb-1"><span>Earnings (annual)</span>
							</div>
							<div class="text-dark fw-bold h5 mb-0"><span class="round-num">{{deal_value_year}}</span>
							</div>
						</div>
						<div class="col-auto"><i class="fa-solid fa-dollar-sign fa-2x text-secondary"></i></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xl-3 mb-4">
			<div class="card shadow-sm border-start-primary py-2">
				<div class="card-body">
					<div class="row align-items-center no-gutters">
						<div class="col me-2">
							<div class="text-uppercase text-primary font-weight-bold text-xs mb-1"><span>Avg value/deal
									(annual)</span></div>
							<div class="text-dark fw-bold h5 mb-0"><span class="round-num">{{deal_value}}</span></div>
						</div>
						<div class="col-auto"><i class="fa-solid fa-chart-simple fa-2x text-secondary" ></i></div>
					</div>
				</div>
			</div>
		</div>
		

		<div class="col-md-6 col-xl-3 mb-4">
			<div class="card shadow-sm border-start-warning py-2">
				<div class="card-body">
					<div class="row align-items-center no-gutters">
						<div class="col me-2">
							<div class="text-uppercase text-warning font-weight-bold text-xs mb-1"><span>Total Deals
									(annual)</span></div>
							<div class="text-dark fw-bold h5 mb-0"><span>{{deals_year}}</span></div>
						</div>
						<div class="col-auto"><i class="fa-solid fa-handshake fa-2x text-secondary"></i></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-xl-3 mb-4">
			<div class="card shadow-sm border-start-warning py-2">
				<div class="card-body">
					<div class="row align-items-center no-gutters">
						<div class="col me-2">
							<div class="text-uppercase text-info font-weight-bold text-xs mb-1"><span>Customers
									(annual)</span></div>
							<div class="text-dark fw-bold h5 mb-0"><span>{{customers_year}}</span></div>
						</div>
						<div class="col-auto"><i class="fa-solid fa-briefcase fa-2x text-secondary"></i></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row justify-content-center">
		<div class="col-lg-7 col-xl-8">
			<div class="card shadow-sm mb-4">
				<div class="card-header d-flex align-items-center">
					<h6 class="text-primary fw-bold m-0">Deals per Month</h6>
					
				</div>
				<div class="card-body">
					<canvas id="dealsMonthChart" height="250" style=" width: 796px; height: 320px;"
						width="596"></canvas>

				</div>
				<div class="card-body">
					<!-- <canvas id="companyTotalYearChart" height="250" style=" width: 796px; height: 320px;" width="596"></canvas> -->
				</div>
			</div>
		</div>
		<!-- <div class="col-lg-5 col-xl-4">
			<div class="card shadow-sm mb-4">
				<div class="card-header d-flex justify-content-between align-items-center">
					<h6 class="text-primary fw-bold m-0">Revenue Sources</h6>

				</div>
				<div class="card-body">

					<canvas id="companyTotalYearChart" height="750" style=" width: 796px; height: 320px;"
						width="596"></canvas>


				</div>
			</div>
		</div> -->
	</div>

	<script>
		const companyTotalData = JSON.parse('{{companyTotalYear|safe}}');
		const dealsMonthData = JSON.parse(['{{deals_month|safe}}']);
		console.log(companyTotalData);
		console.log(dealsMonthData);

	</script>
</div>





{% endblock %}